<h1><%= @restaurant["name"].titleize %></h1>
<h4>Star Rating: <%= @restaurant["star_rating"] %></h4>
<h4>Price Rating: <%= @restaurant["price_rating"] %></h4>
<h4>Address: <%= @restaurant["address"] %></h4>
<h4>City: <%= @restaurant["city"] %></h4>
<h4>Zip: <%= @restaurant["zip"] %></h4>
<h4>Phone Number: <%= @restaurant["phone_number"] %></h4>
